<ion-header>
  <ion-toolbar>
    <ion-title>menu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>FORMATION</ion-card-subtitle>
      <ion-card-title>FORMATION</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li>2016-2017 lycee hec-tchad</li>
        <li>2017 baccalaurat serie D </li>
        <li>2019-2020 formation au centre d'anglais happiness</li>
        <li>2020-2021 universite de yaounde I</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>COMPETANCE</ion-card-subtitle>
      <ion-card-title>COMPETANCE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li>maitrise des languages: html css javascript typescript </li>
        <li>framework: ionic react vue flutter</li>
        <li>developpeur mobile</li>
        <li>developpeur web</li>
      </ul>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>EXPERIENCE</ion-card-subtitle>
      <ion-card-title>EXPERIENCE</ion-card-title>
    </ion-card-header>
  
    <ion-card-content>
      <ul>
        <li>createur du site web freestyle</li>
        <li>assistant dans l'entreprise tchadev pendant deux ans </li>
        <li>statge pendant trois mois a BEAC</li>
        <li>participant dans la creation de BD de L'hotel lader plazza</li>
      </ul>
    </ion-card-content>
  </ion-card>

  <!-- fab placed to the top end -->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
