<ion-header>
  <ion-toolbar>
    <ion-title>Profile User</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div align="center">
    <ion-avatar>
      <img src="assets/toff.jpg"/>
    </ion-avatar>
  </div>

  <ion-list>
    <ion-card>
      <ion-label> <strong>NOMS:</strong>    Ahmat Kabir  </ion-label>     
    </ion-card>
    <ion-card>
      <ion-label> <strong>Email:</strong> ahmatkabiro@gmail.com</ion-label>
    </ion-card>
    <ion-card>
      <ion-label>  <strong>Profession:</strong> Etudiant  </ion-label>    </ion-card>
    <ion-card>
      <ion-label>  <strong>Age:</strong>    20 ans </ion-label>    </ion-card>
    <ion-card>
      <ion-label>  <strong>Sexe:</strong> Masculin  </ion-label>     
    </ion-card>    
  </ion-list>   
  </ion-content>
