ion-card{
    border: 1px solid var(--ion-color-primary);
     
        display: block;
        border: 1px solid var(--ion-color-primary-tint);
        // background-color: var(--ion-color-success);
        height: 205px;
        width: 220px;
      
}